body{
    background-color: #fb5607;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

h1{
    background-color: black;
    text-align: center;
    border: 3px solid #ff006e;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    background-color: black;
    text-align: center;
    border: 3px solid white;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    background-color: black;
    padding-left: 1em;
    padding-bottom: 0.1em;
    border: 1px solid white;
}

@media (min-width: 960px) {
    .cats {
        display: flex;      
    }
}

.cats {
    flex: 1;
}

.photos {
    background-color: #8338ec;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: solid #ff006e;
}


.love {
    background-color: #ff006e;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: solid ;
}

.hate {
    background-color: #ffbe0b;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: solid #3a86ff;
}

.form {
    background-color: #3a86ff;
    padding: 0.5em;
    margin: 1em;
    border-radius: 1em;
    border: solid #8338ec;
}

fieldset {
    margin: 1em;
}
